* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.padding_site {
    padding-left: 98px;
    padding-right: 97px;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.slider {
    height: 800px;
    background-image: url(img/slider-img.jpg);
    position: relative;
}

.header {
    padding-top: 63px;
}

.menu {
    float: right;
}

.menu_list {
    list-style-type: none;
    float: left;
}

.menu_link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
}

.menu_link:hover {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}

.slider_text {
    margin-top: 283px;
}

.slider_trending {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.slider_h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    text-transform: uppercase;
}

.slider_content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    width: 458px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 24px;
}

.order_button {
    width: 212px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3.6px;
}

.pagination {
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
}

.circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50px;
    margin: 5px;
}

.circle:hover {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin-bottom: 0;
}

/*Features block*/

.featured {
    height: 609px;
    position: relative;
}

.featured_header {
    padding-top: 120px;
}

.featured_menu {
    float: left;
}

.featured_list {
    list-style-type: none;
    float: left;
}

.featured_link {
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    padding: 19px 9px;
    border-bottom: 1px solid #6c6c6c;
}

.featured_link:hover {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

.explore {
    float: right;
    padding-top: 138px;
}

.explore_link {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    text-decoration: none;
    float: right;
    padding-top: 16px;
}

.arrow_pic {
    padding-left: 12px;
    padding-bottom: 1px;
}

.featured_items {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.featured_item {
    float: left;
    position: relative;
}

.featured_item:hover > .feature_img {
    opacity: 0.17;
}

.featured_item:hover > .feature_text {
    visibility: visible;
}

.feature_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 206px;
    visibility: hidden;
}

.feature_button {
    padding: 0 79px;
    padding-bottom: 19px;
}

.feature_link {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3.6px;
}

.feature_h {
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 10px;
}

.feature_content {
    color: #6c6c6c;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Montserrat-Light';
    text-align: center;
}

.exclusives {
    height: 683px;
}

.exclusive {
    width: 683px;
    height: 683px;
    float: left;
}

.exclusive_item_1 {
    background-image: url(img/promo-img1.jpg);
}

.exclusive_item_2 {
    background-image: url(img/promo-img.jpg);
}

.exclusive_text {
    padding-top: 228px;
    padding-left: 50px;
}

.exclusive_exclusive {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.exclusive_h2 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.exclusive_content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    width: 374px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 24px;
}

.trending {
    height: 1108px;
    position: relative;
}

.trending_header {
    padding-top: 119px;
}

.trending_h2 {
    float: left;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.trending_products {
    padding-top: 64px;
    width: 1170px;
    height: 770px;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
}

.trending_product {
    float: left;
}

.hot_deal_slider {
    height: 800px;
    background-image: url(img/slider.jpg);
    position: relative;
}

.hot_deal_text {
    padding-top: 287px;
}

.hot_deal_trending {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.exclusives_big {
    height: 810px;
    position: relative;
}

.exclusives_layout {
    padding-top: 120px;
}

.exclusive_big {
    background-image: url(img/product-1-lg.jpg);
    height: 570px;
    width: 570px;
    float: left;
}

.exclusive_small {
    float: left;
}

.excl_small {
    float: left;
    padding-left: 30px;
    height: 574px;
    width: 570px;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
}

.mobile_app {
    height: 516px;
    background-image: url(img/back-img.jpg);
    position: relative;
}

.mobile_app_text {
    padding-top: 125px;
}

.mobile_trending {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.mobile_h2 {
    color: #212121;
    width: 600px;
    font-size: 62px;
    font-weight: 250;
    text-transform: uppercase;
}

.mobile_content {
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    padding-bottom: 33px;
    padding-top: 10px;
}

.contacts {
    height: 384px;
    background-image: url(img/footer-back.jpg);
    position: relative;
}

.contacts_content {
    padding-top: 120px;
    position: relative;
}

.contacts_h {
    display: block;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    padding-bottom: 24px;
}

.contact_info {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    height: 139px;
    width: 221px;
    float: left;
}

.contact_info p {
    font-family: 'Montserrat-Light';
}

.useful_menu {
    float: left;
    padding-left: 80px;
}

.u_list {
    list-style-type: none;
}

.u_link {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    text-decoration: none;
}

.u_menu1 {
    float: left;
}

.u_menu2 {
    float: left;
    padding-left: 103px;
}

.subscribe {
    float: left;
    width: 300px;
    padding-left: 78px;
}

.subscribe_text {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Montserrat-Light';
}

.email {
    display: block;
    float: left;
    border: 1px solid #d9dee1;
    background-color: #ffffff;
    width: 280px;
    padding: 12px;
}

.email::placeholder {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
}

.footer {
    padding-top: 59px;
    position: relative;
}

.copyright {
    float: left;
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    padding-top: 10px;
}

.fa {
    padding: 6px;
    font-size: 14px;
    width: 14px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-facebook,
.fa-twitter,
.fa-google,
.fa-pinterest {
    background: #6c6c6c;
    color: white;
}

.social {
    float: left;
    padding-left: 158px;
}

.terms {
    float: left;
    padding-left: 172px;
}

.terms_link {
    color: #6c6c6c;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.6px;
}

/*Products Page*/

.products_header {
    height: 360px;
    background-color: #f5f5f5;
    position: relative;
}

.products_h {
    color: #212121;
    font-size: 62px;
    font-weight: 200;
    padding-top: 168px;
    padding-left: 3px;
}

.products_catalog {
    height: 1965px;
    position: relative;
}

.catalog_header {
    padding-top: 71px;
}

.products_menu {
    float: left;
}

.products_list {
    list-style-type: none;
    float: left;
}

.products_link {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    padding: 19px 7px;
    border-bottom: 1px solid #6c6c6c;
}

.products_link:hover {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.8px;
    border-bottom: 3px solid #212121;
}

.catalog_items {
    height: 1569px;
    padding-top: 50px;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
}

.refresh {
    padding-top: 71px;
    padding-left: 574px;
}

.refresh_link {
    text-decoration: none;
    color: #212121;
}