body {
    background-color: #f8f8f8;
}

.header {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 10px 0;
    border-bottom: 2px solid #adadad;
}

#logo {
    width: 100px;
    height: 50px;
    float: left;
    background: url('../img/logo.jpg') no-repeat;
    background-size: contain;
}

#companyName {
    text-align: right;
    font-family: Huntsman, sans-serif;
    float: left;
    margin-left: 15px;
    font-size: 1.3em;
    line-height: 50px;
    color: black;
}

#navigation {
    height: 50px;
    float: left;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.menu,
.catalog li {
    font-style: oblique;
    font-size: 20px;
    list-style-type: none;
}

.catalog li {
    list-style-type: square;
}

.menu li a,
.catalog li a {
    color: #380d02;
    text-decoration: none;
}

.menu li a:hover,
.catalog li a:hover {
    color: #1896FF;
}

.menu li a:active {
    color: red;
}

.product_description h3 {
    color: black;
    font: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}


.short_description {
    color: #707070;
    font: 14px italic;
    line-height: 16px;
}

.full_description p {
    color: #484343;
    font: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.full_description p:first-letter {
    font-size: 30px;
    color: brown;
}

.features li {
    color: #7f0b0b;
    font-size: 22px;
    line-height: 26px;
    list-style-position: inside;
    list-style-image: url(../img/list_dots.png)
}

input[type="text"] {
    height: 20px;
    width: 230px;
}

input::placeholder,
textarea::placeholder {
    color: darkslategray;
    font-size: 14px italic;
}

.products_list {
    min-height: 200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}

.products_list .item {
    display: block;
    float: left;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0 20px;
}

.products_list a {
    font-style: oblique;
    font-size: 20px;
    list-style-type: none;
}

.products_list img {
    height: 130px;
    width: 200px;
}

.product_image {
    outline: 3px solid #380d02;
}

.product_image:hover {
    outline: none;
}

.footer {
    border-top: 2px solid #adadad;
    margin-top: 10px;
    padding-top: 10px;
}

input[type="text"] {
    text-transform: capitalize;
}

input[id="email"] {
    text-transform: none;
}

input[id="email"]:focus {
    color: rebeccapurple;
    background-color: lightblue;
    border: 2px solid #555;
    text-transform: none;
}

.composition {
    border-collapse: collapse;
    margin-left: 10px;
    margin-bottom: 20px;
}

.composition th {
    padding-left: 15px;
    border: 1px solid #000;
    width: 100px;
    height: 70px;
}

.composition td {
    padding-left: 15px;
    border: 1px solid #000;
    width: 100px;
    height: 50px;
}